

<form method="post" action="/updateProductAction/{{phone._id}}" class="form" enctype="multipart/form-data">
    <h1>Update your {{phone.name}}</h1>
    <label for="">Name</label>
    <input id="name" type="text" name="name" value="{{phone.name}}">
    <label for="">Price (Euro)</label>
    <input id="price" type="text" name="price" value="{{phone.price}}">
    <label for="">Color</label>
    <input id="color" type="text" name="color" value= "{{phone.color}}">
    <label for="">Image</label>
    <input id="image" type="file" name="image" value="{{phone.image}}">

<label for="">Phone Brand</label>
    <select id="brand-select" name="brand" value={{brand}}>
        <option value="">--Please choose an option--</option>
        <option value="Apple">Apple</option>
        <option value="Samsung">Samsung</option>
        <option value="Huawei">Huawei</option>
    </select>

    <button class="btn">Update</button>
</form>