<h1>Top Phones</h1>
{{#each phoneToViews}}
<div class="phoneList">
    {{this.brand}}<br>
    {{this.name}} <br>
    {{this.price}}<br>
    {{this.color}}<br>
    <img src={{this.image}} alt="Phone Pic" width="250" height="300"><br>

    {{!-- <a href="/phone/{{this._id}}">details</a><br> --}}
    <a href="/phone/update/{{this._id}}">update</a><br>
    <a href="/phone/delete/{{this._id}}">remove</a><br>
     <br>
</div>
{{/each}}

