<h1>Top Phones</h1>
{{#each phoneToViews}}
<div class="phoneList">
    {{this.brand}}<br>
    {{this.name}} <br>
    Price (Euro):{{this.price}}<br>
    {{this.color}}<br>
    <br>

</div>

<div class="photo"> 
    <img src={{this.image}} width="300" height="50%" alt="Phone Pic"<br>
</div> 

<a href="/phone/update/{{this._id}}">Update</a><br>
<a href="/phone/delete/{{this._id}}">Remove</a><br>
    <br>
{{/each}}

