<h1>Top Phones</h1>
{{#each phoneToViews}}
<div class="phoneList">
    {{this.brand}}<br>
    {{this.name}} <br>
    Price (Euro):{{this.price}}<br>
    {{this.color}}<br>
    <br>

</div>

<div class="photo"> 
    <img src={{this.image}} width="300" height="50%" alt="Phone Pic"<br>
</div> 

<form action="/phone/update/{{this._id}}"> 
    <button class = "btn" type="submit"> 
            Update
    </button> 
</form> 
<form action="/phone/delete/{{this._id}}"> 
    <button class = "btn" type="submit"> 
            Remove
    </button> 
</form> 


{{/each}}

